<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member Information</title>
</head>
<body>
<form action="/auth/member/edit" method="post" >
<table border="1">
    <tr>
        <th>ID</th>
        <td><input type="text" th:value="${m.id}" name="id" readonly></td>
    </tr>
    <tr>
        <th>Name</th>
        <td><input type="text" th:value="${m.name}" name="name"></td>
    </tr>
    <tr>
        <th>Email</th>
        <td><input type="text" th:value="${m.email}" name="email"></td>
    </tr>
    <tr>
        <th>Points</th>
        <td><input type="text" th:value="${m.point}" name="point"></td>
    </tr>
    <tr>
        <th>Rank</th>
        <td><input type="text" th:value="${m.rank}" name="rank"></td>
    </tr>
    <tr>
        <th>Experience</th>
        <td><input type="text" th:value="${m.exp}" name="exp"></td>
    </tr>
    <tr>
        <th>Type</th>
        <td><input type="text" th:value="${m.type}" name="type"></td>
    </tr>
</table>
    <input type="submit" value="수정완료">
</form>
</body>
</html>
