<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript">
        const b=(id)=>{
            location.href="/auth/member/edit?id="+id;
        }
    </script>
</head>
<body>
<h2>Member Information</h2>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Points</th>
        <th>Rank</th>
        <th>Experience</th>
        <th>Type</th>
        <th>수정</th>
    </tr>
    </thead>
    <tbody>
    <tbody>
    <tr th:each="m : ${list}">
        <td th:text="${m.id}"></td>
        <td th:text="${m.name}"></td>
        <td th:text="${m.email}"></td>
        <td th:text="${m.point}"></td>
        <td th:text="${m.rank}"></td>
        <td th:text="${m.exp}"></td>
        <td th:text="${m.type}"></td>
        <td>
            <a th:href="@{/auth/member/edit(id=${m.id})}">
                <button>수정</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>